#planning {
    display: inline-block;
    ;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: black;
}

#letout {
    text-align: left;
    margin-left: 3%;
}


#coordonnees {
    display: inline-block;
    width: 20%;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: black;
}


#recette img {
    margin: 20px;
    margin-right: 0px;
    width: 200px;
    /* Définissez la largeur souhaitée pour vos images */
    height: 200px;
    /* Définissez la hauteur souhaitée pour vos images */
    object-fit: cover;
}


#avis {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: black;
}

#listefav {
    display: flex;
}


.slider {
    margin: 20px 0;
}

.slide {
    display: inline-block;
    margin-right: 10px;
}

.slide img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
}

.slider-button {
    margin-top: 10px;
}